html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
	color: black;
}
main{
	flex:1;
	gap:10px;
}

#hamIcon{
	display:none;
}
@media (max-width:800px){
	
	#hamIcon {
        display: block;
    }

    #topic-container {
        display: none;
    }

    #topic-container.show {
        display: block;
    }
}

.menuShow{
	display:block;
}

header{text-align: center;}


body{
	display:flex;
    flex-direction:column;
	align-content: center;
	justify-content: space-evenly;
	
	font-family:"Roboto",sans-sarif
}
.info{
	border:solid 3px black;
	margin-top:10px;
}

#topic-container{
	display:flex;
	flex-wrap:wrap;
	gap:15px;
	align-items:center;
}
/*need add hamburger here because css read line by line. don wanna overide the code*/
@media (max-width:800px){
	
	#hamIcon {
        display: block;
    }

    #topic-container {
        display: none;
    }

    #topic-container.show {
        display: block;
    }
}

.card,#game{
	border:solid 3px black;
	flex:1;
	text-align: center;
	margin-top: 10px;
}

.card:hover{
	transform: scale(1.02);
	background-color:lightgreen;
	transition: 0.5s;
	
}
/*this is the infomation content*/


.infoContent{
   display: flex;
    gap: 30px;
	background: black;
}
@media(max-width:800px){
    .infoContent{
        flex-direction:column;
    }
}

.Content-1,.Content-2, .Content-3{
	flex: 1;              
    min-height: 400px;   
    background: #E9AB17;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
	50%{
		transform: rotateX(180deg);
	}
    100% {
        opacity: 1;
    }
}

/*GAME SECTION VERY IMPORTANT*/
#GameArena{
	display:none;
	text-align:center;
    overflow:hidden;
	border: solid 3px black;
	width: 100%;
}



#arena{
	position:relative;
	height:300px;
    overflow:hidden;
    background:lightgreen;
	cursor:none;
}

#bee{
	height: 50px;
	position:absolute;
	left:100px;
	top:100px;
	
	pointer-events:none;
}
.flower{
	width: 50px;
	position: absolute;
	filter: grayscale(100%);
    transition: 0.3s;
}
.flower.pollinated {
    filter: grayscale(0%);
    transform: scale(1.2);
}

#wasp{
	height: 50px;
	position:absolute;
	left:300px;
	top:200px;
	
	transition: left 1s, top 1s;
}


#gameOver {
    display: none;
}

#quiz{
	border:solid 3px black;
	margin-top: 10px;
}